<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Slides</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        Slides iOS
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <p>
      Go to
      <a [routerLink]="['/home']">
        Home
      </a>
    </p>
  </div>

  <div id="slides">
    Slides here!
    <ion-slides pager="true">
      <ion-slide>
        Slide 1
      </ion-slide>
      <ion-slide>
        Slide 2
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>
